{% extends "base_email.html" %}
{% block content %}
<p>Please verify the following blogpost to complete your submission.</p>
<p><a href="http://{{ site }}{% url publisher_authorize code=code %}" target="_blank">Verify and complete this submission</a></p>
<hr />
<h3>{{ post.title }}</h3>
{{ post.body|safe|linebreaks }}

{% if post.attachments.all %}
<hr />
<h3>You submitted the following attachments:</h3>
<ul>
{% for attachment in post.attachments.all %}
	<li>{{ attachment.file }}</li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}