{% extends "base.html" %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	
	<div class="line">
		<div class="unit size2of4">
			<h2>Post Basics</h2>
			<ul class="fields">
				<li>
					{{ form.title.errors }}
					{{ form.title.label_tag }}
					{{ form.title }}
				</li>
				<li>
					{{ form.body.errors }}
					{{ form.body.label_tag }}
					{{ form.body }}
					<ul class="toolbar">
						<li><a href="#" class="link" title="Select text to make a link first">Insert Link</a></li>
						<li><a href="#" class="remove-link" title="Select text to remove link first">Remove Link</a></li>
					</ul>
				</li>
				{% if WORDPRESS.ALLOW_EXCERPT %}
				<li>
					{{ form.excerpt.errors }}
					{{ form.excerpt.label_tag }}
					{{ form.excerpt }}
				</li>
				{% endif %}
				{% for key, value in WORDPRESS.AUTH.items %}
				{% if key == 'wordpress' %}
				<li>
					{{ form.wordpress_username.errors }}
					{{ form.wordpress_username.label_tag }}
					{{ form.wordpress_username }}
				</li>
				<li>
					{{ form.wordpress_password.errors }}
					{{ form.wordpress_password.label_tag }}
					{{ form.wordpress_password }}
				</li>
				{% endif %}
				{% if key == 'email' %}
				<li>
					{{ form.email.errors }}
					{{ form.email.label_tag }}
					{{ form.email }}
				</li>
				{% endif %}
				{% endfor %}
				
			</ul>
		</div>
		
		<div class="unit size1of4 slim">
			{% if WORDPRESS.ALLOW_CATEGORIES %}
			{% block categories %}
			<h2>Categories</h2>
			<div class="categories">
			{{ form.categories|safe }}
			</div>
			{% endblock %}
			{% endif %}
			
			{% if WORDPRESS.ALLOW_TAGS %}
			{% block tags %}
			<h2>Tags</h2>
			<div class="tags">
			{{ form.tags|safe }}
			</div>
			{% endblock %}
			{% endif %}
		</div>
	
		<div class="unit size1of4 slim">
			{% if WORDPRESS.ALLOW_FILES %}
			{% block attachments %}
			<h2>Images</h2>
			<ul class="attachments">
				<li>
					<span class="handle"></span>
					<input type="file" name="attachments" />
					<span class="details">
					<label>Position
					<select name="positions" class="position">
						{% for option in POSITIONS %}
						<option value="{{ option.0 }}">{{ option.1 }}</option>
						{% endfor %}
					</select></label>
					<label>Alignment
					<select name="alignments" class="alignment">
						{% for option in ALIGNMENTS %}
						<option value="{{ option.0 }}">{{ option.1 }}</option>
						{% endfor %}
					</select></label>
					</span>
					<a href="#">Remove</a>
				</li>
			</ul>
			<a href="#" class="another">Add Another</a>
			{% endblock %}
			{% endif %}
		</div>
	</div>
	<input type="submit" value="Submit your post" id="submit" />
</form>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/selection.js" ></script>
<script type="text/javascript">
$(function(){
	$('form input, form textarea').labelify({labelledClass:'form-inactive'});
	{% if WORDPRESS.ALLOW_FILES %}
	$('ul.attachments').sortable({ handle: 'span.handle' });
	$('ul.attachments input[type="file"]').live('change', function(){
		$(this).next().css({'display': 'block'});
	});
	$('a.another').click(function(){
		if($('ul.attachments li').length < {{ WORDPRESS.MAX_FILES }}){
			$('ul.attachments').append('<li><span class="handle"></span><input type="file" name="attachments" /><span class="details"><label>Position<select name="positions" class="position">{% for option in POSITIONS %}<option value="{{ option.0 }}">{{ option.1 }}</option>{% endfor %}</select></label><label>Alignment<select name="alignments" class="alignment">{% for option in ALIGNMENTS %}<option value="{{ option.0 }}">{{ option.1 }}</option>{% endfor %}</select></label></span><a href="#">Remove</a></li>');
		}else {
			alert('Max {{ WORDPRESS.MAX_FILES }} attachments');
		}
		return false;
	});
	$('ul.attachments li a').live('click', function(){
		$(this).parent().remove();
		return false;
	});
	{% endif %}
	
	
	$('a.link').click(function(){
		var reply = prompt('URL', "http://")
		wrap_selection('id_body', '<a href="'+reply+'">','</a>');
	});
	$('a.remove-link').click(function(){
		var sel = get_selection('id_body');
		if(sel.text != ''){
			replace_selection('id_body', get_selection('id_body').text.replace(/(<([^>]+)>)/ig,""));
		}else {
			var answer = confirm('Nothing selected, remove all links?');
			if(answer){
				$('#id_body').text($('#id_body').val().replace(/(<([^>]+)>)/ig,""));
			}
		}
	});

});
</script>
{% endblock %}
